doctype html
html
  head
    title Testing module #{title}    
    link(rel='stylesheet', href='node_modules/mocha/mocha.css')
    script(src='../node_modules/mocha/mocha.js')
    script(src='../node_modules/chai/chai.js')
    script(src='../node_modules/chai-http/dist/chai-http.js')
  body
    block content
